@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-inter: "Inter", sans-serif;
}

@theme {
  --color-green: hsl(75, 94%, 57%);

  --color-white: hsl(0, 0%, 100%);

  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
}

body {
  font-family: var(--font-inter);
}

@utility text-preset-1 {
  @apply text-2xl leading-normal font-bold tracking-normal;
}

@utility text-preset-2 {
  @apply text-sm leading-normal font-normal tracking-normal;
}

@utility text-preset-2-bold {
  @apply text-sm leading-normal font-bold tracking-normal;
}

@utility social-link {
  @apply bg-grey-700 text-preset-2-bold block w-full rounded-lg p-3 text-center transition-colors duration-300 ease-in-out;
  @apply hover:bg-green hover:text-grey-900;
  @apply focus-visible:bg-green focus-visible:text-grey-900;
  @apply focus-visible:ring-offset-grey-800 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:outline-none;
}

@utility footer-link {
  @apply text-green rounded-sm font-bold transition-colors;
  @apply focus-visible:ring-green focus-visible:ring-offset-grey-900 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none;
}
